.cproject
.project
/Projects/ble/SimpleBLEPeripheral/CC2540DB/CC2540/
Projects/ble/SimpleBLEPeripheral/CC2540DB/SimpleBLEPeripheral.dep
Projects/ble/SimpleBLEPeripheral/CC2540DB/settings/SimpleBLEPeripheral.wsdt